#filemanager .modal-dialog {
	width: 80%;
	height: 45%;
}

#filemanager .modal-dialog .modal-content {
	width: 100%;
	height: 200%;
	border: none;
}

#filemanager .modal-dialog .modal-content .modal-body {
	width: 100%;
	height: 94%;
	border: none;
}

#filemanager .modal-dialog .modal-content .modal-body iframe {
	width: 100%;
	height: 100%;
	border: none;
	position: relative;
}

form .img-polaroid {
    width: 250px;
    border-radius: 165px;
    border: 3px solid rgba(170, 170, 170, 0.2);
}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	/*display: inline-block;
	margin: 20px;*/
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ch-thumb {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	box-shadow: inset 0 0 0 15px rgba(170,170,170, 0.5);
	transform-origin: 95% 40%;
	transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50%;
	top: 40%;
	left: 95%;
	margin: -4px 0 0 -4px;
	background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	box-shadow: 0 0 1px rgba(255,255,255,0.9);
}

.ch-img-1 img {
	width: 220px;
	height: 220px;
	position: relative;
	/*z-index: 12;*/
}

.ch-info {
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	background: #F39C12 url(images/noise.png);
	box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 60px;
	padding: 22px 0 0 0;
	height: 85px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #333;
	width: 90px;
	height: 90px;
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 24px;
	margin: 7px auto 0;
	font-family: 'Open Sans', Arial, sans-serif;
	opacity: 0;
	transition: 
		transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	transform: translateX(60px) rotate(90deg);
}

.ch-info p a:hover {
	background: rgba(255,255,255,0.5);
}

.ch-item:hover .ch-thumb {
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
	transform: rotate(-110deg);
}
.ch-item:hover .ch-info p a{
	opacity: 1;
	transform: translateX(0px) rotate(0deg);
}

/*.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: #00E347 !important;
}*/

select.valid, input.valid {
	background-image: url('images/1436382483_tick.png') !important;
	background-size: 65px 65px;
	position: relative;
	transition: 
		transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	transform: translateX(10px) translateX(-10px)
}

select.error, input.error {
	background-image: url('images/1436382925_error.png') !important;
	background-size: 65px 65px;
	position: relative;
	transition: 
		transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	transform: translateX(10px) translateX(-10px);
}

table .select-tr {
	width: 25px;
}

table .action-tr {
	width: 39px;
}

table.project-time .action {
	width: 141px;
}

table tbody tr .img-table, #users .img-div {
	width: 100px;
	float: left;
	padding-right: 15px;
}

#users .div-user-info {
	margin-right: 30px;
}

table tbody tr .table-user-info, #users .div-user-info {
	float: left;
}

table tbody tr .table-user-info .block, #users .div-user-info .block {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	border-left: thin dashed #727272;
}

table tbody tr .table-user-info h4, #users .div-user-info h4 {
	border-bottom: thin dashed #727272;
	margin-top: 0px;
}

table tbody tr .table-user-info p, #users .div-user-info p {
	margin-bottom: 0px;
}

table tbody tr .table-user-info p span, #users .div-user-info p span {
	margin-left: 7px;
}

table h1, table h2, table h3, table h4, table h5, table h6, table p {
	font-size: 14px;
	margin: 0px;
}

table tbody tr.weekend {
	background-color: #f95850;
	opacity: 0.7;
}

table tbody tr.holiday {
	background-color: #50F99A;
	opacity: 0.7;
}

table tbody tr.today:hover {
	background-color: rgba(232, 81, 12, 0.3) !important;
}

table tbody tr.active {
	height: 75px;
}

table tbody tr.active td {
	vertical-align: middle;
}

table thead tr th.day {
	width: 25px;
}

table thead tr th.month {
	width: 75px;
}

table thead tr th.start, table thead tr th.end {
	width: 75px;
}

/*table tbody #lunch_time a {
	display: none;
}*/

#tasks .modal-content {
	background-color: #ECF0F5;
}

#tasks .modal-header,
#tasks .modal-footer {
	background-color: #FFF;
}

#tasks #task-form {
	display: none;
	height: 200px;
}

#tasks #back-task, #tasks #add-task {
	display: none;
}

#chat-line {
	position: fixed;
	bottom: 0px;
	margin-bottom: 35px;
	margin-right: 15px;
	right: 5px;
	height: 41.1px;
	overflow-y: visible;
	width: auto;
}

#chat-line .chat-block {
	height: 41.1px;
	overflow-y: visible;
	float: left;
	width: 280px;
	margin-left: 10px;
	float: right;
}

#chat-line .chat-block .col-md-2 {
	width: 280px;
	float: right;
	z-index: 999;
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 41px;
}

#map {
	height: 328px;
	width: 100%;
}

.label-checkbox-fix {
	padding-left: 0px !important;
	padding-right: 20px;
}

.project-icon {
	font-size: 50px !important;
}

.custom_a {
	height: 135px;
	padding: 25px 0px;
}

.select-box {
	margin-left: 30px;
}

.play {
	width: 120px;
	margin-bottom: 10px;
}

.custom-callout {
	min-height: 130px;
}

.invisible {
	display: none;
}

.lockscreen-center {
	width: 100%;
	text-align: center;
}

.register {
	max-width: 65%;
}

#month-table th {
	vertical-align: middle;
}

#month-table-total {
	max-width: 40%;
	margin-bottom: 20px;
}

.skin-black .pace .pace-progress, .skin-black-light .pace .pace-progress {
	background-color: #000;
}

.skin-black .pace .pace-activity, .skin-black-light .pace .pace-activity {
	border-top-color: #000;
	border-left-color: #000;
}

.fixed {
	overflow-y: scroll;
}

#md-timeline .modal-dialog .modal-content .modal-body {
	height: 600px;
}

.left-tables {
	width: 600px;
}

#month-table-header {
	text-align: center;
	margin-bottom: 0px;
}

#month-table-header .arrow {
	width: 30px;
	text-align: center;
	border-left: none;
	border-right: none;
}

#month-table-header .month {
	text-align: center;
	font-size: 20px;
	border-left: none;
	border-right: none;
}

.title-href {
	font-size: 12px;
}

.pagination {
	margin: 0px;
	float: right;
}

.clearfix {
	clear: both;
}

.avatar-view img {
  width: 100%;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../img/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}

#notification-panel {
	width: 100%;
	min-height: 400px;
}

#notification-panel ul {
	border-right: thin solid #f4f4f4;
	padding: 0px;
	/*max-height: 400px;*/
	/*overflow-y: scroll;*/
}

#notification-panel .notification-inverse {
	overflow: hidden;
    width: auto;
}

#notification-panel ul li {
	list-style-type: none;
	padding: 0px;
	font-size: 14px;
	box-sizing: border-box;
}

#notification-panel ul li a {
	display: block;
	white-space: nowrap;
	border-bottom: 1px solid #f4f4f4 !important;
	color: #444444 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
}

#notification-panel ul li:last-child a {
	border-bottom: none!important;
}

#notification-panel ul li a:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.sortable-list {
  padding: 0px;
  width: 100%;
  min-height: 50px;
  border: dashed thin
}

#tasks .sortable-list {
  min-height: 100px;
  overflow-x: hidden;
}

.sortable-list li {
  margin: 5px !important;
  list-style: none;
  border: solid thin #DADBDC;
  float: left;
  cursor: move;
}

.sortable-list li {
	z-index: 9999999;
}

.sortable-list hr {
	clear: both;
	border: medium none;
	padding: 0px;
	margin: 0px;
}

.control-sidebar {
	overflow: hidden !important;
}

.tab-content {
	padding: 15px;
}

.bootstrap-tagsinput {
	width: 100%;
	border-radius: 0;
}

.main-header .navbar .nav > li > a > .label {
	border: 0.5px solid #dedede;
}

.box-widget .box-footer {
	border: solid thin #f39c12 !important;
}

.box-widget .box-footer li a.edit {
	background: #f39c12 !important;
	color: #fff;
}